## Pre-Processing Script for Gender Distribution in Olympics

In [397]:
#Importing the libraries

import pandas as pd
import numpy as np

In [398]:
#Merging athletes and medalsdatasets

athlete_2020=pd.read_csv("olympicdataset1/athletes.csv")
medals_2020=pd.read_csv("olympicdataset1/medals.csv")
medals_2020=medals_2020[['athlete_name','medal_type']]

result_df = pd.merge(athlete_2020,medals_2020, left_on='name', right_on='athlete_name',how='left') # Left join on name

In [399]:
result_df.head(5)

,name,short_name,gender,birth_date,birth_place,birth_country,country,country_code,discipline,discipline_code,residence_place,residence_country,height_m/ft,url,athlete_name,medal_type
0,AALERUD Katrine,AALERUD K,Female,1994-12-04,VESTBY,Norway,Norway,NOR,Cycling Road,CRD,NaN,NaN,NaN,../../../en/results/cycling-road/athlete-profi...,NaN,NaN
1,ABAD Nestor,ABAD N,Male,1993-03-29,ALCOI,Spain,Spain,ESP,Artistic Gymnastics,GAR,MADRID,Spain,1.65/5'4'',../../../en/results/artistic-gymnastics/athlet...,NaN,NaN
2,ABAGNALE Giovanni,ABAGNALE G,Male,1995-01-11,GRAGNANO,Italy,Italy,ITA,Rowing,ROW,SABAUDIA,Italy,1.98/6'5'',../../../en/results/rowing/athlete-profile-n13...,NaN,NaN
3,ABALDE Alberto,ABALDE A,Male,1995-12-15,FERROL,Spain,Spain,ESP,Basketball,BKB,NaN,NaN,2.00/6'6'',../../../en/results/basketball/athlete-profile...,NaN,NaN
4,ABALDE Tamara,ABALDE T,Female,1989-02-06,VIGO,Spain,Spain,ESP,Basketball,BKB,NaN,NaN,1.92/6'3'',../../../en/results/basketball/athlete-profile...,NaN,NaN

In [400]:
#Dropping the athelete_name column due to redudancy
result_df=result_df.drop(['athlete_name'],axis=1)

In [401]:
#Changing the NA Medal Type to 'No Medal'
result_df['medal_type'].fillna('no medal', inplace=True)

In [402]:
#Saving new athletes_2020 csv file
result_df.to_csv('athletes_2020.csv', index=False)

In [403]:
#Checking for missing percentages 
missing_percentage = result_df.isnull().mean() * 100
print("Missing Percentage per Column:")
print(missing_percentage)

Missing Percentage per Column:
name                  0.000000
short_name            0.000000
gender                1.337821
birth_date            1.337821
birth_place          34.413126
birth_country        28.380311
country               0.000000
country_code          0.000000
discipline            1.337821
discipline_code       0.000000
residence_place      37.585191
residence_country    43.601178
height_m/ft          60.546908
url                   0.000000
medal_type            0.000000
dtype: float64

In [404]:
#Reading the historical athlete dataset
athletes_historical=pd.read_csv("olympicdataset2/athlete_events.csv")

In [405]:
#Ensuring the categories in both datasets (Athlete 2020 and Historical Athlete dataset are same)

result_df['discipline'] = result_df['discipline'].str.replace('Equestrian', 'Equestrianism')
result_df['discipline'] = result_df['discipline'].str.replace('Cycling Road', 'Cycling')
result_df['discipline'] = result_df['discipline'].str.replace('Cycling BMX Freestyle', 'Cycling')
result_df['discipline'] = result_df['discipline'].str.replace('Cycling BMX Racing', 'Cycling')
result_df['discipline'] = result_df['discipline'].str.replace('Cycling Mountain Bike', 'Cycling')
result_df['discipline'] = result_df['discipline'].str.replace('Cycling Track', 'Cycling')
result_df['discipline'] = result_df['discipline'].str.replace('Artistic Gymnastics', 'Gymnastics')
result_df['discipline'] = result_df['discipline'].str.replace('Artistic Swimming', 'Swimming')
result_df['discipline'] = result_df['discipline'].str.replace('Canoe Slalom', 'Canoeing')
result_df['discipline'] = result_df['discipline'].str.replace('Trampoline Gymnastics', 'Trampolining')
result_df['discipline'] = result_df['discipline'].str.replace('Artistic Swimming', 'Swimming')
result_df['discipline'] = result_df['discipline'].str.replace('Canoe Sprint', 'Canoeing')
result_df['discipline'] = result_df['discipline'].str.replace('Marathon Swimming', 'Swimming')
athletes_historical['Sport'] = athletes_historical['Sport'].str.replace('Softball', 'Baseball/Softball')
athletes_historical['Sport'] = athletes_historical['Sport'].str.replace('Baseball', 'Baseball/Softball')

In [406]:
#merging the datasets
print(result_df.columns)
print(athletes_historical.columns)

Index(['name', 'short_name', 'gender', 'birth_date', 'birth_place',
       'birth_country', 'country', 'country_code', 'discipline',
       'discipline_code', 'residence_place', 'residence_country',
       'height_m/ft', 'url', 'medal_type'],
      dtype='object')
Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [407]:
from datetime import datetime

#Calculating age from birth_date

result_df['birth_date'] = pd.to_datetime(result_df['birth_date'])
current_date = datetime.now()
result_df['Age'] = (current_date - result_df['birth_date']).astype('<m8[Y]')

In [408]:
print(result_df.columns)

Index(['name', 'short_name', 'gender', 'birth_date', 'birth_place',
       'birth_country', 'country', 'country_code', 'discipline',
       'discipline_code', 'residence_place', 'residence_country',
       'height_m/ft', 'url', 'medal_type', 'Age'],
      dtype='object')

In [409]:
#adding 2020 year to the historical merged dataset
result_df['Year'] = 2020

In [410]:
#Renaming column names

result_df.rename(columns={'name': 'Name'}, inplace=True)

In [411]:
#Dripping column name
result_df.drop(columns='short_name', inplace=True)

In [412]:
#edit gender to sex
result_df.rename(columns={'gender': 'Sex'}, inplace=True)

In [413]:
#edit height_m/ft to Height
result_df.rename(columns={'height_m/ft': 'Height'}, inplace=True)

In [414]:
#added column city
result_df['City'] = "Tokyo"

In [415]:
#added column Season
result_df['Season'] = "Summer"

In [416]:
#edit medal_type to medal
result_df.rename(columns={'medal_type': 'Medal'}, inplace=True)

In [417]:
#edit discipline to Sport
result_df.rename(columns={'discipline': 'Sport'}, inplace=True)

In [418]:
#dropping unwanted columns
result_df.drop(columns='residence_place', inplace=True)
result_df.drop(columns='residence_country', inplace=True)
result_df.drop(columns='birth_date', inplace=True)
result_df.drop(columns='birth_place', inplace=True)
result_df.drop(columns='birth_country', inplace=True)
result_df.drop(columns='discipline_code', inplace=True)
result_df.drop(columns='url', inplace=True)

In [419]:
#Replacing medaltype
result_df['Medal'].replace('Silver Medal', 'Silver', inplace=True)
result_df['Medal'].replace('Gold Medal', 'Gold', inplace=True)
result_df['Medal'].replace('Bronze Medal', 'Bronze', inplace=True)

# Display the updated DataFrame
print(result_df)

                        Name     Sex  country country_code       Sport  \
0            AALERUD Katrine  Female   Norway          NOR     Cycling
1                ABAD Nestor    Male    Spain          ESP  Gymnastics
2          ABAGNALE Giovanni    Male    Italy          ITA      Rowing
3             ABALDE Alberto    Male    Spain          ESP  Basketball
4              ABALDE Tamara  Female    Spain          ESP  Basketball
...                      ...     ...      ...          ...         ...
11880  ZWICKER Martin Detlef    Male  Germany          GER      Hockey
11881      ZWOLINSKA Klaudia  Female   Poland          POL    Canoeing
11882           ZYKOVA Yulia  Female      ROC          ROC    Shooting
11883      ZYUZINA Ekaterina  Female      ROC          ROC     Sailing
11884        ZYZANSKA Sylwia  Female   Poland          POL     Archery

           Height     Medal   Age  Year   City  Season
0             NaN  no medal  29.0  2020  Tokyo  Summer
1      1.65/5'4''  no medal  30.0  2020  Tokyo  Summer
2      1.98/6'5''  no medal  28.0  2020  Tokyo  Summer
3      2.00/6'6''  no medal  27.0  2020  Tokyo  Summer
4      1.92/6'3''  no medal  34.0  2020  Tokyo  Summer
...           ...       ...   ...   ...    ...     ...
11880  1.76/5'9''  no medal  36.0  2020  Tokyo  Summer
11881         NaN  no medal  24.0  2020  Tokyo  Summer
11882         NaN    Silver  28.0  2020  Tokyo  Summer
11883         NaN  no medal  27.0  2020  Tokyo  Summer
11884         NaN  no medal  26.0  2020  Tokyo  Summer

[11885 rows x 11 columns]

In [420]:
#removing country_code
result_df.drop(columns='country_code', inplace=True)

In [421]:
#edit city to host city
result_df.rename(columns={'City': 'Host City'}, inplace=True)
athletes_historical.rename(columns={'City':'Host City'},inplace=True)

In [422]:
#Merge noc dataset and historical athlete datasets 

noc_regions=pd.read_csv("olympicdataset2/noc_regions.csv")
athletes_historical= pd.merge(athletes_historical,noc_regions, left_on='NOC', right_on='NOC',how='left')
athletes_historical.drop(columns='NOC', inplace=True)

In [423]:
#remove unwanted columns from athlete history and result_df
athletes_historical.drop(columns='ID', inplace=True)
athletes_historical.drop(columns='Event', inplace=True)
athletes_historical.drop(columns='Height', inplace=True)
athletes_historical.drop(columns='Weight', inplace=True)
athletes_historical.drop(columns='Games', inplace=True)
result_df.drop(columns='Height',inplace=True)

In [424]:
#edit country to team
athletes_historical.rename(columns={'region': 'country'}, inplace=True)

In [425]:
athletes_historical['Sex'].replace('M', 'Male', inplace=True)
athletes_historical['Sex'].replace('F', 'Female', inplace=True)

In [426]:
athletes_historical['Medal'].fillna('no medal', inplace=True)

In [427]:
final_olympics_history= pd.concat([athletes_historical,result_df ], ignore_index=True)

In [428]:
final_olympics_history['country'] = final_olympics_history['country'].replace({
    'China': 'People\'s Republic of China',
    'UK': 'United Kingdom',
    'USA': 'United States of America',
    'Chinese Taipei': 'Taiwan',
    'Taiwan': 'Chinese Taipei',
    'EOR': 'Refugee Olympic Team',
    'Ivory Coast': 'Côte d\'Ivoire'
})

In [429]:
final_olympics_history=final_olympics_history.drop("Team",axis=1)

In [430]:
final_olympics_history=final_olympics_history.drop("notes",axis=1)

In [431]:
print(final_olympics_history)

                            Name     Sex   Age  Year  Season  Host City  \
0                      A Dijiang    Male  24.0  1992  Summer  Barcelona
1                       A Lamusi    Male  23.0  2012  Summer     London
2            Gunnar Nielsen Aaby    Male  24.0  1920  Summer  Antwerpen
3           Edgar Lindenau Aabye    Male  34.0  1900  Summer      Paris
4       Christine Jacoba Aaftink  Female  21.0  1988  Winter    Calgary
...                          ...     ...   ...   ...     ...        ...
282996     ZWICKER Martin Detlef    Male  36.0  2020  Summer      Tokyo
282997         ZWOLINSKA Klaudia  Female  24.0  2020  Summer      Tokyo
282998              ZYKOVA Yulia  Female  28.0  2020  Summer      Tokyo
282999         ZYUZINA Ekaterina  Female  27.0  2020  Summer      Tokyo
283000           ZYZANSKA Sylwia  Female  26.0  2020  Summer      Tokyo

                Sport     Medal                     country
0          Basketball  no medal  People's Republic of China
1                Judo  no medal  People's Republic of China
2            Football  no medal                     Denmark
3          Tug-Of-War      Gold                     Denmark
4       Speed Skating  no medal                 Netherlands
...               ...       ...                         ...
282996         Hockey  no medal                     Germany
282997       Canoeing  no medal                      Poland
282998       Shooting    Silver                         ROC
282999        Sailing  no medal                         ROC
283000        Archery  no medal                      Poland

[283001 rows x 9 columns]

In [432]:
#Concatenating the two datasets
final_olympics_history.to_csv('olympics_history.csv', index=False)